body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #0b0c10;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
  background-color: #1f2833;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.nav_pic {
  display: flex;
  width: 6%;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #66fcf1;
  font-size: 12px;
}

.menu li a:hover,
.active {
  background-color: #45a29e;
  color: #ffffff !important;
  font-weight: 700;
  transition: all ease 0.4s;
}

.name{
  font-family: calibri;
  position: absolute;
  width: 700px;
  left: 20%;
  top: 45%;
  transform: translate(-20%,-50%);
  text-align: center;
}

.name h1{
  font-family: "Times New Roman";
  font-size: 80px;
  margin: px;
  letter-spacing: 3px;
  color: #66fcf1;
  text-align: left;
}

.name p{
  color: #f5f6f7;
  font-size: 30px;
  text-align: left;
}

.join-button{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151515;
  background-color: #55b2ae;

}

.join-button:hover{
  background-color: #66fcf1;
  transition: all ease 0.2s;
}

.arrow{
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  animation: MoveUpDown 2.5s linear infinite;
}

@keyframes MoveUpDown{
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

.arrow::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0px 15px;
  border-color: #66fcf1 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

#footers {
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  background-color: #0b0c10;
  position: relative;
}

.footer_pic {
  display: block;
  width: 17%;
  margin-left: auto;
  margin-right: auto;
}

.email p{
  color: #f5f6f7;
  text-align: center;
  font-size: 30px;
}
